body {
  font-family: Helvetica, sans-serif;
}

.header h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: centered;
}

.header {
  background-image: url("../images/pattern.jpeg");
}

#brush {
  background-color: mediumspringgreen;
}

.item h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.price {
  font-weight: bold;
  color: blue;
}

#frame {
  background-color: lightcoral;
}

#paint {
  background-color: skyblue;
}

#sample {
  background-color: black;
}
